../.gitignore
.idea/
.DS_Store
__pycache__/
../module-1/lab-api-scavenger-game/.gitignore
../module-1/lab-errhand_listcomp/your-code/Untitled-1-ipynb.txt
../module-1/lab-errhand_listcomp/your-code/pruebas.ipynb
../module-1/lab-mysql-select/your-code/cleaning-films.ipynb
../module-1/lab-web-scraping/your-code/web-scraping-films.ipynb
lab-advance-querying-mongo/__MACOSX/
lab-advance-querying-mongo/companies.json
lab-subsetting-and-descriptive-stats/your-code/Orders.csv
